version: '3.8'

services:
  # Servicio Web/PHP
  apache-php:
    build:
      context: ./apache-php
      dockerfile: Dockerfile
    ports:
      - "80:80"
    volumes:
      # Monta la carpeta 'src' para que los cambios se reflejen sin reconstruir
      - ./apache-php/src:/var/www/html
    depends_on:
      - mysql

  # Servicio de Base de Datos MySQL
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: mydatabase
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypassword
    volumes:
      - ./mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
      - dbdata:/var/lib/mysql # Persistencia de datos

volumes:
  dbdata:
