version: '3.9'

services:
  apache:
    build: ./apache-php
    container_name: apache-auth
    ports:
      - "8080:80"
    volumes:
      - ./apache-php/src:/var/www/html
    depends_on:
      - mysql
      
  mysql:
    image: mysql:8
    container_name: mysql-auth
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: authdb
      MYSQL_USER: authuser
      MYSQL_PASSWORD: authpass
    ports:
      - "3307:3306"
    volumes:
      - ./mysql:/docker-entrypoint-initdb.d
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: pma-auth
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8081:80"
    depends_on:
      - mysql # Añadido para asegurar que MySQL esté listo antes de iniciar phpMyAdmin
      
volumes:
  mysql_data:
