# Archivo: apache-php/src/.htaccess (VERSIÓN DEFINITIVA)

# Desactiva el listado de archivos (para eliminar el Index of /)
Options -Indexes +FollowSymLinks

# Indicar explícitamente que estos sufijos son archivos PHP
AddType application/x-httpd-php .php .es .en .fr .de 

# CÓDIGOS DE IDIOMA
AddLanguage es es
AddLanguage en en
AddLanguage fr fr
AddLanguage de de

DirectoryIndex index
Options +MultiViews
DefaultLanguage en
